@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

.wrapper {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    font-family: "Montserrat";
    height: 2266px;


    .wrapper__body {
        a {
            color: $color1;
        }

        background-image: url(../imgs/symbol.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 45%;
        color: $color1;
        height: 2266px;



        .header {

            @include space-between;

            .header__logo {
                width: 6.78%;
                margin-left: 8.3%;
                margin-top: 2.2%;
            }


            .header__list {
                @include align-centr;
                margin-right: 145px;
                padding-bottom: 15px;
            }

            .header__item {
                margin-top: 8%;
                margin-left: 1px;
            }

            .header__link--primary {
                font-size: .75rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 14.63px;
                padding: 9px;
            }



            .header__link--primary:hover {
                background: #F0145A;
                border-radius: 8px;



            }

            .header__link--secondary {
                font-weight: 400;
                line-height: 19.5px;
            }

            .header__link--tertiary {
                font-size: 1rem;
                font-weight: 700;
                line-height: 14.63px;
                padding: 7px;
            }

            .header__link--facebook {
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(../icons/Vectorfacebook.svg);
            }

            .header__link--facebook:hover {
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(../icons/Vectorfacebookhov.svg);
            }

            .header__icon {
                padding: 2px;
            }

            .nav__list {
                display: flex;
            }

            .nav__link {
                font-weight: 700;
                padding-bottom: 3px;
            }

            .nav__link:hover {
                border-bottom: 2px solid #ffffff;
                font-weight: 700;
            }

            .nav__item {
                margin-left: 4.6%;
            }
        }

        .title {
            font-size: 2.375rem;
            width: 41.7%;
            font-weight: 700;
            margin-top: 19.1%;
            margin-left: 37.5%;

        }

        .center__btn {
            background-image: url(../icons/btncenter.svg);
            display: block;
            width: 42px;
            height: 42px;
            margin-top: 21%;
            margin-left: 49%;

        }

        .center__btn:hover {
            background-image: url(../icons/btnhov.svg);
            display: block;
            width: 42px;
            height: 42px;
            margin-top: 21%;
            margin-left: 49%;

        }

        .content {
            display: flex;
            width: 95%;
            margin: 0 auto;
            padding-top: 6%;
            justify-content: center;


            .column--primary {
                display: flex;
                width: 29%;
                padding-right: 3%;
                flex-direction: column;
                align-items: flex-end;
            }

            .column--secondary {
                width: 56%;
                padding-left: 3%;
                border-left: 4px solid rgba(255, 255, 255, 0.3);

            }

            .column__subtitle {
                font-size: 2.4375rem;
                font-weight: 700;
                line-height: 3rem;
                padding-bottom: 10%;

            }

            .column__subtitle:hover {
                color: $color2;

            }

            .column__subtitle--active {
                @extend %gradient-text
            }

            .column__subtitle--secondary {
                font-size: 1.875rem;
                margin-top: 6%;
                padding-bottom: 2%;
            }

            .column__text {
                font-size: 1.1875rem;
                line-height: 30px;
            }
        }

        .content__link {
            display: block;
            font-size: .875rem;
            color: $color3;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 2.3%;
            margin-left: 8.4%;
        }

        .content__link:hover {
            color: $color2;
        }

        .content__link p::after {
            content: "ᐳ";
            padding: 3px;
        }

        .content__subtitle {
            font-size: 2.375rem;
            @extend %gradient-text2;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 46px;
            padding-top: .7%;
            margin-left: 8.4%;
        }

        .content__bottom {
            display: flex;
            flex-wrap: wrap;
            padding-left: 7%;
            margin-top: 3%;
            justify-content: flex-start;
        }

        .content__item {
            width: 30%;
            padding-bottom: 2%;
            padding-left: 3%;
        }

        .content__img {
            padding-bottom: 5%;
        }

        .content__subtitle--secondary {
            color: $color3;
            font-size: 1.375rem;
            line-height: 1.6875rem;
            padding-bottom: 8%;
            font-weight: bold;
            cursor: default;
        }

        .content__text {

            line-height: 26px;
        }



    }

    .central__block {
        display: flex;
        justify-content: center;

        .slider {
            display: flex;
            overflow: hidden;
            position: relative;
            height: 455px;

            width: 83%;
            margin-top: 3.5%;
        }

        .slider__items {
            display: flex;
            position: absolute;
            background: $color4;
            margin: 1%;
            justify-content: flex-start;
        }

        .slider__items--primary {
            opacity: 1;
        }

        .slider__item {
            display: flex;
            width: 69%;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1%;
        }

        .slider__link {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color3;
        }

        .slider__link h3::after {
            content: "ᐳ";
            padding: 2px;
        }

        .slider__text {
            @extend %gradient-text2;
            font-weight: bold;
            font-size: 2.375rem;
            line-height: 46px;
            padding-bottom: 4%;
        }

        .slider__subtitle {
            color: $color5;
            font-weight: bold;

        }

        .slider__subtitle--secondary {
            color: $color5;
            font-size: .875rem;
            line-height: 22px;
        }

        .slider__img {
            margin-right: 2%;
            width: 24%;
        }

        .slider__btn {
            position: absolute;
            left: 47%;
            top: 66%;
        }

        .slider__btn button {
            text-align: center;
            margin: 30px 5px 0;
            width: 16px;
            height: 15px;
            border: none;
            outline: none;
            border-radius: 51%;
            transition: all .3s;
        }

        .slider__btn button:hover {
            background-color: $color3;
        }

        .slider__btn--primary {
            background-image: url(../icons/Ellipse.svg);
        }

        .slider__btn--secondary {
            background-image: url(../icons/Ellipse.svg);
        }

        .slider__btn--tertiary {
            background-image: url(../icons/Ellipse.svg);

        }
    }

    .bottom__block {
        .bottom__subtitle {
            font-size: .875rem;
            line-height: 17px;
            @extend %text-transform;
            width: 12%;
            margin: 0 auto;
        }

        .bottom__item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1%;
        }
        .bottom__link {
            display: block;
        }
        .bottom__img {
            height: 100%;
        }
    }
}