@mixin space-between {
    display: flex;
    justify-content: space-between;

}

@mixin align-centr {
    display: flex;
    align-items: center;
}

@mixin size {










    @media screen and (max-width: 1920px)

    /*  */
        {
        .wrapper {
            .wrapper__body {

                .content {
                    .column--primary {
                        width: 30%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1440px)

    /*  */
        {



        .wrapper {
            .wrapper__body {
                .content {
                    .column--primary {
                        width: 34%;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 1280px) {
        .wrapper {
            .wrapper__body {
                .content {
                    .column--primary {
                        width: 45%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px)

    /*  */
        {

        .wrapper {
            .wrapper__body {
                .content {
                    .column--primary {
                        width: 49%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        .wrapper {
            .wrapper__body {
                .content {
                    .column--primary {
                        width: 70%;
                    }
                }
            }
        }
    }


    @media screen and (max-width: 840px) {


        .wrapper {
            .wrapper__body {
                .content {

                    margin: 0 auto;
                    padding-top: 6%;
                    flex-direction: column;
                    align-items: flex-start;

                    .column--primary {
                        display: flex;
                        width: 204%;
                        flex-direction: row;
                        align-items: center;

                    }

                    .column--secondary {
                        width: 90%;
                        display: flex;
                        padding-bottom: 4%;
                        border-top: 4px solid rgba(255, 255, 255, 0.3);
                        border-left: none;
                        flex-direction: column;
                        align-items: center;
                    }

                    .column__subtitle {
                        width: 100%;
                    }
                }





            }
        }
    }

    @media screen and (max-width: 767px) {
        .wrapper {
            .wrapper__body {
                .header {

                    .header__link {
                        font-size: .5rem;
                    }





                    .nav {
                        .nav__list {
                            display: none;
                        }

                        #header__burger {
                            display: block;
                            position: relative;
                            left: 67%;
                        }
                    }

                    .header__link--facebook,
                    .header__link--secondary,
                    .header__icon {
                        display: none;
                    }

                    .header__list {
                        margin-left: 60px;
                    }

                    .header__logo {
                        width: 40%;
                    }

                }
            }

            .wrapper__body {
                background-size: 97%;



                .content__bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 8%;

                }

                .content__item {
                    width: 80%;
                    padding-bottom: 10%;
                }

                .content__subtitle {
                    font-size: 1.5rem;
                }

                .owl-carousel {
                    .central__block {

                        .central__items {
                            display: flex;
                            align-items: flex-end;
                            flex-direction: column;
                        }
                    }
                }

            }




        }

        .section {
            .section__column {
                display: flex;
                flex-direction: column;
                width: max-content;
                flex-direction: column;
            }

        }

        .central__block {
            .central__items {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .footer {
            flex-direction: column;
            align-items: center;

            .footer__list--primary,
            .footer__list {
                flex-direction: column;
                align-items: center;
            }

            .footer__copiraiting {
                font-size: .8rem;
            }

            .foooter__item--primary {
                padding: 2%;
                font-size: .7rem;
                margin: 0 auto;
            }
        }
    }


    /*  */

    @media screen and (max-width: 600px) {
        .wrapper {
            .header {
                .header__icon {
                    display: none;
                }

                .header__item {
                    font-size: .7rem;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {}

    @media screen and (max-width: 375px) {

        /*  */
        .container {
            .wrapper {
                .wrapper__body {
                    .header {
                        .header__logo {
                            width: 100%;
                        }
                    }

                    .section {
                        .section__column {
                            display: flex;
                            flex-direction: column;
                            width: max-content;
                        }
                    }
                }
            }
        }
    }
}