@charset "UTF-8";
.wrapper .wrapper__body .content .column__subtitle--active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .wrapper__body .content__subtitle, .wrapper .central__block .slider__text, .wrapper .section .section__text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .bottom__block .bottom__subtitle, .wrapper .section .section__link, .wrapper .footer .footer__mail {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.wrapper .section .section__subtitle--tertiary, .wrapper .footer .footer__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  font-family: "Montserrat";
  height: 2266px;
}

.wrapper .wrapper__body {
  background-image: url(../imgs/symbol.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45%;
  color: #FFFFFF;
  height: 2266px;
}

.wrapper .wrapper__body a {
  color: #FFFFFF;
}

.wrapper .wrapper__body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .wrapper__body .header .header__logo {
  width: 6.78%;
  margin-left: 8.3%;
  margin-top: 2.2%;
}

.wrapper .wrapper__body .header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 145px;
  padding-bottom: 15px;
}

.wrapper .wrapper__body .header .header__item {
  margin-top: 8%;
  margin-left: 1px;
}

.wrapper .wrapper__body .header .header__link--primary {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14.63px;
  padding: 9px;
}

.wrapper .wrapper__body .header .header__link--primary:hover {
  background: #F0145A;
  border-radius: 8px;
}

.wrapper .wrapper__body .header .header__link--secondary {
  font-weight: 400;
  line-height: 19.5px;
}

.wrapper .wrapper__body .header .header__link--tertiary {
  font-size: 1rem;
  font-weight: 700;
  line-height: 14.63px;
  padding: 7px;
}

.wrapper .wrapper__body .header .header__link--facebook {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebook.svg);
}

.wrapper .wrapper__body .header .header__link--facebook:hover {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebookhov.svg);
}

.wrapper .wrapper__body .header .header__icon {
  padding: 2px;
}

.wrapper .wrapper__body .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .wrapper__body .header .nav__link {
  font-weight: 700;
  padding-bottom: 3px;
}

.wrapper .wrapper__body .header .nav__link:hover {
  border-bottom: 2px solid #ffffff;
  font-weight: 700;
}

.wrapper .wrapper__body .header .nav__item {
  margin-left: 4.6%;
}

.wrapper .wrapper__body .title {
  font-size: 2.375rem;
  width: 41.7%;
  font-weight: 700;
  margin-top: 19.1%;
  margin-left: 37.5%;
}

.wrapper .wrapper__body .center__btn {
  background-image: url(../icons/btncenter.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .wrapper__body .center__btn:hover {
  background-image: url(../icons/btnhov.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .wrapper__body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding-top: 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .wrapper__body .content .column--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  padding-right: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .wrapper__body .content .column--secondary {
  width: 56%;
  padding-left: 3%;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}

.wrapper .wrapper__body .content .column__subtitle {
  font-size: 2.4375rem;
  font-weight: 700;
  line-height: 3rem;
  padding-bottom: 10%;
}

.wrapper .wrapper__body .content .column__subtitle:hover {
  color: #f0145a;
}

.wrapper .wrapper__body .content .column__subtitle--secondary {
  font-size: 1.875rem;
  margin-top: 6%;
  padding-bottom: 2%;
}

.wrapper .wrapper__body .content .column__text {
  font-size: 1.1875rem;
  line-height: 30px;
}

.wrapper .wrapper__body .content__link {
  display: block;
  font-size: .875rem;
  color: #24A3FF;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2.3%;
  margin-left: 8.4%;
}

.wrapper .wrapper__body .content__link:hover {
  color: #f0145a;
}

.wrapper .wrapper__body .content__link p::after {
  content: "ᐳ";
  padding: 3px;
}

.wrapper .wrapper__body .content__subtitle {
  font-size: 2.375rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 46px;
  padding-top: .7%;
  margin-left: 8.4%;
}

.wrapper .wrapper__body .content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 7%;
  margin-top: 3%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .wrapper__body .content__item {
  width: 30%;
  padding-bottom: 2%;
  padding-left: 3%;
}

.wrapper .wrapper__body .content__img {
  padding-bottom: 5%;
}

.wrapper .wrapper__body .content__subtitle--secondary {
  color: #24A3FF;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  padding-bottom: 8%;
  font-weight: bold;
  cursor: default;
}

.wrapper .wrapper__body .content__text {
  line-height: 26px;
}

.wrapper .central__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .central__block .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 455px;
  width: 83%;
  margin-top: 3.5%;
}

.wrapper .central__block .slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #F5F5FA;
  margin: 1%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .central__block .slider__items--primary {
  opacity: 1;
}

.wrapper .central__block .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 69%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 1%;
}

.wrapper .central__block .slider__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.wrapper .central__block .slider__link h3::after {
  content: "ᐳ";
  padding: 2px;
}

.wrapper .central__block .slider__text {
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 46px;
  padding-bottom: 4%;
}

.wrapper .central__block .slider__subtitle {
  color: #B3B3BA;
  font-weight: bold;
}

.wrapper .central__block .slider__subtitle--secondary {
  color: #B3B3BA;
  font-size: .875rem;
  line-height: 22px;
}

.wrapper .central__block .slider__img {
  margin-right: 2%;
  width: 24%;
}

.wrapper .central__block .slider__btn {
  position: absolute;
  left: 47%;
  top: 66%;
}

.wrapper .central__block .slider__btn button {
  text-align: center;
  margin: 30px 5px 0;
  width: 16px;
  height: 15px;
  border: none;
  outline: none;
  border-radius: 51%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .central__block .slider__btn button:hover {
  background-color: #24A3FF;
}

.wrapper .central__block .slider__btn--primary {
  background-image: url(../icons/Ellipse.svg);
}

.wrapper .central__block .slider__btn--secondary {
  background-image: url(../icons/Ellipse.svg);
}

.wrapper .central__block .slider__btn--tertiary {
  background-image: url(../icons/Ellipse.svg);
}

.wrapper .bottom__block .bottom__subtitle {
  color: #323264;
  font-size: .875rem;
  line-height: 17px;
  width: 12%;
  margin: 0 auto;
}

.wrapper .bottom__block .bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .bottom__block .bottom__link {
  display: block;
}

.wrapper .bottom__block .bottom__img {
  height: 100%;
}

.wrapper .section {
  background-color: #F5F5FA;
}

.wrapper .section .section__item {
  margin-left: 7%;
  margin-bottom: 1%;
}

.wrapper .section .section__link {
  color: #24A3FF;
}

.wrapper .section .section__link h3::after {
  content: "ᐳ";
  padding: 2px;
}

.wrapper .section .section__subtitle--primary {
  padding: 1%;
}

.wrapper .section .section__text {
  font-size: 38px;
  line-height: 46px;
  font-weight: bold;
  padding: 1%;
}

.wrapper .section .section__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8%;
  padding-bottom: 3%;
  border-bottom: 2px solid #E6E6F0;
}

.wrapper .section .section__subtitle--secondary {
  color: #24A3FF;
  line-height: 20px;
  font-weight: bold;
}

.wrapper .section .section__subtitle--tertiary {
  color: #B3B3BA;
  padding-bottom: 1%;
  border-bottom: 2px solid #E6E6F0;
}

.wrapper .section .section__column--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  background-color: #FFFFFF;
  font-size: .875rem;
  line-height: 22px;
  margin: 1%;
}

.wrapper .section .section__column--inner p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .footer .footer__block {
  width: 50%;
}

.wrapper .footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .foooter__item,
.wrapper .footer .foooter__item--primary {
  padding: 2%;
}

.wrapper .footer .footer__subtitle {
  color: #24A3FF;
}

.wrapper .footer .footer__link--primary {
  display: block;
  background: url(../icons/Vectorfb.svg);
  width: 38px;
  height: 38px;
}

.wrapper .footer .footer__list--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .footer__link--primary:hover {
  background: url(../icons/Vectorfbhov.svg);
}

.wrapper .footer .footer__number {
  color: #46466E;
  font-weight: 700;
}

.wrapper .footer .footer__mail {
  color: #24A3FF;
}

.wrapper .footer .footer__mail:hover {
  color: #F0145A;
}

.wrapper .footer .footer__copiraiting {
  color: #B3B3BA;
  padding-top: 2%;
}
/*# sourceMappingURL=style.css.map */