@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

ol, ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.wrapper .wrapper__body .content .column__subtitle--active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .wrapper__body .content__subtitle {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  font-family: "Montserrat";
  height: 2266px;
}

.wrapper .wrapper__body {
  background-image: url(../imgs/symbol.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45%;
  color: #FFFFFF;
  height: 2266px;
}

.wrapper .wrapper__body a {
  color: #FFFFFF;
}

.wrapper .wrapper__body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .wrapper__body .header .header__logo {
  width: 6.77%;
  margin-left: 8.3%;
  margin-top: 2.2%;
}

.wrapper .wrapper__body .header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 145px;
  padding-bottom: 15px;
}

.wrapper .wrapper__body .header .header__item {
  margin-top: 8%;
  margin-left: 1px;
}

.wrapper .wrapper__body .header .header__link--primary {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14.63px;
  padding: 9px;
}

.wrapper .wrapper__body .header .header__link--primary:hover {
  background: #F0145A;
  border-radius: 8px;
}

.wrapper .wrapper__body .header .header__link--secondary {
  font-weight: 400;
  line-height: 19.5px;
}

.wrapper .wrapper__body .header .header__link--tertiary {
  font-size: 1rem;
  font-weight: 700;
  line-height: 14.63px;
  padding: 7px;
}

.wrapper .wrapper__body .header .header__link--facebook {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebook.svg);
}

.wrapper .wrapper__body .header .header__link--facebook:hover {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebookhov.svg);
}

.wrapper .wrapper__body .header .header__icon {
  padding: 2px;
}

.wrapper .wrapper__body .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .wrapper__body .header .nav__link {
  font-weight: 700;
  padding-bottom: 3px;
}

.wrapper .wrapper__body .header .nav__link:hover {
  border-bottom: 2px solid #ffffff;
  font-weight: 700;
}

.wrapper .wrapper__body .header .nav__item {
  margin-left: 4.6%;
}

.wrapper .wrapper__body .title {
  font-size: 2.375rem;
  width: 41.7%;
  font-weight: 700;
  margin-top: 19.1%;
  margin-left: 37.5%;
}

.wrapper .wrapper__body .center__btn {
  background-image: url(../icons/btncenter.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .wrapper__body .center__btn:hover {
  background-image: url(../icons/btnhov.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .wrapper__body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding-top: 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .wrapper__body .content .column--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  padding-right: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .wrapper__body .content .column--secondary {
  width: 56%;
  padding-left: 3%;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}

.wrapper .wrapper__body .content .column__subtitle {
  font-size: 2.4375rem;
  font-weight: 700;
  line-height: 3rem;
  padding-bottom: 10%;
}

.wrapper .wrapper__body .content .column__subtitle:hover {
  color: #f0145a;
}

.wrapper .wrapper__body .content .column__subtitle--secondary {
  font-size: 1.875rem;
  margin-top: 6%;
  padding-bottom: 2%;
}

.wrapper .wrapper__body .content .column__text {
  font-size: 1.1875rem;
  line-height: 30px;
}

.wrapper .wrapper__body .content__link {
  display: block;
  font-size: .875rem;
  color: #24A3FF;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2.3%;
  margin-left: 8.4%;
}

.wrapper .wrapper__body .content__link:hover {
  color: #f0145a;
}

.wrapper .wrapper__body .content__link p::after {
  content: "ᐳ";
  padding: 3px;
}

.wrapper .wrapper__body .content__subtitle {
  font-size: 2.375rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 46px;
  padding-top: .7%;
  margin-left: 8.4%;
}

.wrapper .wrapper__body .content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 7%;
  margin-top: 3%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .wrapper__body .content__item {
  width: 30%;
  padding-bottom: 2%;
  padding-left: 3%;
}

.wrapper .wrapper__body .content__img {
  padding-bottom: 5%;
}

.wrapper .wrapper__body .content__subtitle--secondary {
  color: #24A3FF;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  padding-bottom: 8%;
  font-weight: bold;
  cursor: default;
}

.wrapper .wrapper__body .content__text {
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */