@charset "UTF-8";
.wrapper .content .column__subtitle--active {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .content__subtitle, .central__block .central__text, .section .section__text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.central__block .central__link, .bottom__block .bottom__subtitle, .section .section__link, .footer .footer__mail {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.section .section__subtitle--tertiary, .footer .footer__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}

body {
  font-family: "Montserrat";
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  font-family: "Montserrat";
  color: #FFFFFF;
}

.wrapper a {
  color: #FFFFFF;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .header__logo {
  width: 6.78%;
  margin-left: 8.3%;
  margin-top: 2.2%;
  z-index: 5;
}

.wrapper .header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 160px;
  padding-bottom: 15px;
}

.wrapper .header .header__item {
  margin-top: 8%;
  margin-left: 1px;
}

.wrapper .header .header__link--primary {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14.63px;
  padding: 9px;
}

.wrapper .header .header__link--primary:hover {
  background: #F0145A;
  border-radius: 8px;
}

.wrapper .header .header__link--secondary {
  font-weight: 400;
  line-height: 19.5px;
}

.wrapper .header .header__link--tertiary {
  font-size: 1rem;
  font-weight: 700;
  line-height: 14.63px;
  padding: 7px;
}

.wrapper .header .header__link--facebook {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebook.svg);
}

.wrapper .header .header__link--facebook:hover {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../icons/Vectorfacebookhov.svg);
}

.wrapper .header .header__icon {
  padding: 2px;
}

.wrapper .header .nav #header__burger {
  display: none;
  width: 32px;
  height: 32px;
}

.wrapper .header .nav .modal {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper .header .nav .modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper .header .nav .modal__item {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  margin: 3%;
  padding: 2%;
  background-color: #F5F5FA;
}

.wrapper .header .nav .modal__item a {
  color: #24A3FF;
}

.wrapper .header .nav .modal__item a:hover {
  color: #f0145a;
}

.wrapper .header .nav .close {
  position: relative;
  left: 90%;
  color: #EC6F5D;
  font-size: 64px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.wrapper .header .nav .close:hover,
.wrapper .header .nav .close:focus {
  color: #0f0e0e;
  cursor: pointer;
}

.wrapper .header .nav .modal-body {
  padding: 2px 16px;
}

.wrapper .header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .nav .nav__link {
  font-weight: 700;
  padding-bottom: 3px;
}

.wrapper .header .nav .nav__link:hover {
  border-bottom: 2px solid #ffffff;
  font-weight: 700;
}

.wrapper .header .nav .nav__item {
  margin-left: 4.6%;
}

.wrapper .wrapper__body {
  background-image: url(../imgs/symbol.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45%;
  height: inherit;
}

.wrapper .title {
  font-size: 2.375rem;
  width: 41.7%;
  font-weight: 700;
  padding-top: 19.1%;
  margin-left: 37.5%;
}

.wrapper .center__btn {
  background-image: url(../icons/btncenter.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .center__btn:hover {
  background-image: url(../icons/btnhov.svg);
  display: block;
  width: 42px;
  height: 42px;
  margin-top: 21%;
  margin-left: 49%;
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding-top: 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .content .column--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  padding-right: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .content .column--secondary {
  width: 56%;
  padding-left: 3%;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}

.wrapper .content .column__subtitle {
  font-size: 2.4375rem;
  font-weight: 700;
  line-height: 3rem;
  padding-bottom: 10%;
}

.wrapper .content .column__link:hover {
  color: #f0145a;
}

.wrapper .content .column__subtitle--secondary {
  font-size: 1.875rem;
  margin-top: 6%;
  padding-bottom: 2%;
}

.wrapper .content .column__text {
  font-size: 1.1875rem;
  line-height: 30px;
}

.wrapper .content__link {
  display: block;
  font-size: .875rem;
  color: #24A3FF;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2.3%;
  margin-left: 8.4%;
}

.wrapper .content__link:hover {
  color: #f0145a;
}

.wrapper .content__link p::after {
  content: "ᐳ";
  padding: 3px;
}

.wrapper .content__subtitle {
  font-size: 2.375rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 46px;
  padding-top: 3.7%;
  margin-left: 8.4%;
}

.wrapper .content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 7%;
  margin-top: 3%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .content__item {
  width: 30%;
  padding-bottom: 2%;
  padding-left: 3%;
}

.wrapper .content__img {
  padding-bottom: 5%;
}

.wrapper .content__subtitle--secondary {
  color: #24A3FF;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  padding-bottom: 8%;
  font-weight: bold;
  cursor: default;
}

.wrapper .content__text {
  line-height: 26px;
}

.central__block {
  margin-top: 5%;
}

.central__block .central__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.central__block .central__item {
  padding-left: 2%;
}

.central__block .central__link {
  color: #24A3FF;
}

.central__block .central__subtitle {
  color: #B3B3BA;
  font-weight: bold;
}

.central__block .central__subtitle--secondary {
  font-size: .875rem;
  color: #B3B3BA;
}

.central__block .central__text {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.central__block .owl-carousel {
  width: 80%;
  margin: 0 auto;
}

.central__block .owl-dot.active {
  opacity: 1;
}

.central__block .owl-dots {
  text-align: center;
}

.bottom__block {
  margin-top: 5%;
}

.bottom__block .bottom__subtitle {
  color: #323264;
  font-size: .875rem;
  line-height: 17px;
  width: 12%;
  margin: 1% auto;
}

.bottom__block .bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom__block .bottom__link {
  display: block;
}

.bottom__block .bottom__img {
  height: 100%;
}

.section {
  background-color: #F5F5FA;
  padding: 1%;
}

.section .section__item {
  margin-left: 7%;
  margin-bottom: 1%;
}

.section .section__link {
  color: #24A3FF;
}

.section .section__link h3::after {
  content: "ᐳ";
  padding: 2px;
}

.section .section__subtitle--primary {
  padding: 1%;
}

.section .section__text {
  font-size: 38px;
  line-height: 46px;
  font-weight: bold;
  padding: 1%;
}

.section .section__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8%;
  padding-bottom: 3%;
  border-bottom: 2px solid #E6E6F0;
}

.section .section__subtitle--secondary {
  color: #24A3FF;
  line-height: 20px;
  font-weight: bold;
}

.section .section__subtitle--tertiary {
  color: #B3B3BA;
  padding-bottom: 1%;
  border-bottom: 2px solid #E6E6F0;
}

.section .section__column--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  background-color: #FFFFFF;
  font-size: .875rem;
  line-height: 22px;
  margin: 1%;
}

.section .section__column--inner p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__block {
  width: 50%;
}

.footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .foooter__item,
.footer .foooter__item--primary {
  padding: 2%;
}

.footer .footer__subtitle {
  color: #24A3FF;
}

.footer .footer__link--primary {
  display: block;
  background: url(../icons/Vectorfb.svg);
  width: 38px;
  height: 38px;
}

.footer .footer__list--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__link--primary:hover {
  background: url(../icons/Vectorfbhov.svg);
}

.footer .footer__number {
  color: #46466E;
  font-weight: 700;
}

.footer .footer__mail {
  color: #24A3FF;
}

.footer .footer__mail:hover {
  color: #F0145A;
}

.footer .footer__copiraiting {
  color: #B3B3BA;
  padding-top: 2%;
}

/****************************************SERVICES*****************************************************/
.service__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 21%;
  margin-left: 1%;
  padding-top: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-size: 3rem;
  color: #f0145a;
  font-weight: bolder;
}

.logo__subtitle {
  font-size: 2.25rem;
}

.center__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center__img {
  margin-top: 4%;
}

@media screen and (max-width: 1900px) {
  .wrapper .wrapper__body .content .column--primary {
    width: 30%;
  }
}

@media screen and (max-width: 1440px) {
  .wrapper .wrapper__body .content .column--primary {
    width: 34%;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper .wrapper__body .content .column--primary {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper .wrapper__body .content .column--primary {
    width: 49%;
  }
}

@media screen and (max-width: 960px) {
  .wrapper .wrapper__body .content .column--primary {
    width: 70%;
  }
}

@media screen and (max-width: 840px) {
  .wrapper .wrapper__body .content {
    margin: 0 auto;
    padding-top: 6%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper .wrapper__body .content .column--primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 204%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .wrapper__body .content .column--secondary {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 4%;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .wrapper__body .content .column__subtitle {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper .header .header__icon {
    display: none;
  }
  .wrapper .header .header__item {
    font-size: .7rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper .wrapper__body .header .header__link {
    font-size: .5rem;
  }
  .wrapper .wrapper__body .header .nav .nav__list {
    display: none;
  }
  .wrapper .wrapper__body .header .nav #header__burger {
    display: block;
    position: relative;
    left: 84%;
  }
  .wrapper .wrapper__body .header .header__link--facebook,
  .wrapper .wrapper__body .header .header__link--secondary,
  .wrapper .wrapper__body .header .header__icon {
    display: none;
  }
  .wrapper .wrapper__body .header .header__list {
    margin-left: 60px;
  }
  .wrapper .wrapper__body .header .header__logo {
    width: 40%;
  }
  .wrapper .wrapper__body {
    background-size: 97%;
  }
  .wrapper .wrapper__body .content__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8%;
  }
  .wrapper .wrapper__body .content__item {
    width: 80%;
    padding-bottom: 10%;
  }
  .wrapper .wrapper__body .content__subtitle {
    font-size: 1.5rem;
  }
  .wrapper .wrapper__body .owl-carousel .central__block .central__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .section__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    flex-direction: column;
  }
  .central__block .central__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__list--primary,
  .footer .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__copiraiting {
    font-size: .8rem;
  }
  .footer .foooter__item--primary {
    padding: 2%;
    font-size: .7rem;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */